:root {
  --brand-color: #4d5ae5;
  --prime-font-family: "Roboto", sans-serif;
  --prime-text-color: #2e2f42;
  --alter-text-color: #e7e9fc;
  --hover-focus-color: #434455;
  --active-color: #4d5ae5;
  --light-mode-bgd: #f4f4fd;
}

body {
  font-family: var(--prime-font-family);
  color: var(--prime-text-color);
}
.section {
  padding-top: 120px;
}

.container {
  display: flex;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}
/* ============H1...H3============*/
.hhide {
  display: none;
}

.rank-one {
  display: flex;

  width: 1440px;
  height: 603px;
  background-color: var(--prime-text-color);
  color: #fff;
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  text-align: center;
  width: 492px;
  height: 120px;
}
.rank-two {
  font-family: var(--prime-font-family);
  color: var(--prime-text-color);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  margin: 0;
  margin-bottom: 72px;
}
.rank-three {
  font-family: var(--prime-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 auto;
}
/* ===========Header=========== */

header .container {
  display: flex;
}
.header-item {
  display: flex;
}

/*============Button============*/

.button-order {
  display: block;
  font-family: var(--prime-font-family);
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
  height: 51px;
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*============NAV============*/
.link {
  display: block;
  color: var(--prime-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-links {
  display: flex;
  align-items: center;
  color: var(--hover-focus-color);
}
.nav-links > li {
  margin-left: 40px;
}
.nav-links > li:first-child {
  margin-left: 0;
}

.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--hover-focus-color);
}
.nav-links .link:active {
  color: var(--active-color);
}

.nav-links-active:none .button li {
  color: #e7e9fc;
}

/*============Contacts============*/

.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list > li {
  margin-left: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts-list > li:first-child {
  margin-left: 0;
}

.contacts {
  font-family: var(--prime-font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--prime-text-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts:hover,
.contacts:focus {
  color: var(--brand-color);
}

/* =================Hero================== */

.hero {
  background-color: var(--prime-text-color);
  text-align: center;
  padding: 192px 0;
}
.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* ===============Aadvantage============== */

.advantage {
  display: flex;
  justify-content: center;
}
.advantage li {
  width: 264px;
  margin-left: 24px;
}

/* =================WAWD================== */
.products{
  padding-bottom: 120px;
}
.product {
  display: flex;
  padding-top: 0;
}
.product > li {
  margin-right: 24px;
}

.product > li:last-child {
  margin-right: 0;
}

/* ==================Team================== */

.team {
  background-color: #f4f4fd;
  padding-top: 0;
  padding-bottom: 120px;
}
.team-title {
  display: block;
  text-align: center;
  margin: 0 auto 72px;
}
.teammates {
  display: flex;
  margin: 0;
}
.teammates > li {
  background-color: #fff;
  margin-right: 24px;
}
.teammates > li:last-child {
  margin-right: 0;
}
.teammate-info {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.teammate-info p {
  margin-top: 8px;
}

.paragraph {
  color: var(--prime-text-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
}

.span {
  color: #4d5ae5;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--prime-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 77px;
}

.logo-bottom {
  background-color: var(--prime-text-color);
  color: var(--alter-text-color);
}

.footer {
  background-color: var(--prime-text-color);
  color: var(--alter-text-color);
  font-size: 16px;
  line-height: 1.5;
  padding-top: 100px;
  padding-bottom: 100px;
}
p{
  margin: 0;
}
.footer div {
  display: flex;
  flex-direction: column;
}
.footer-text {
  width: 264px;
  margin-top: 16px;
}
/*==================Portfolio====================*/
.container-portfolio {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* =================Buttons======================*/

.button {
  font-family: var(--prime-font-family);
  background-color: var(--light-mode-bgd);
  color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  height: 48;
  border: none;
  border-radius: 4px;
  border-color: var(--alter-text-color);
  padding: 12px 24px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.buttons > li {
  margin-right: 24px;
}
.buttons > li:last-child {
  margin-right: 0;
}
.buttons .button:hover,
.buttons .button:focus {
  cursor: pointer;
  background-color: #404bbf;
  color: #ffffff;
}
.buttons-row .buttons {
  /* display: flex; */
  justify-content: center;
}

/* =================Cards================ */

.project-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.card-link {
  display: block;
  color: var(--prime-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}
.project-card li {
  flex-basis: calc(100% / 3-24px);
  margin-bottom: 48px;
  margin-left: 24px;
}
.project-card li:nth-child(3n + 1) {
  margin-left: 0;
}
.project-card li:nth-child(n + 7) {
  margin-bottom: 0;
}
.card-info {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.card-info-border {
  border-left: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
  border-bottom: 0.5px solid #f4f4fd;
}
.card-info> .paragraph{
  margin-top: 8px;
}