:root {
  --brand-color: #4d5ae5;
  --prime-font-family: "Roboto", sans-serif;
  --prime-text-color: #2e2f42;
  --alter-text-color: #e7e9fc;
  --hover-focus-color: #434455;
  --active-color: #4d5ae5;
  --light-mode-bgd: #f4f4fd;
}

body {
  width: 1440px;
  font-family: var(--prime-font-family);
  color: var(--prime-text-color);
  margin: auto 0;
}
.section {
  padding-top: 120px;
}

.container {
  display: flex;
  width: 1258px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 24px;
}
/* H1...H3 */

.rank-one {
  display: flex;

  width: 1440px;
  height: 603px;
  background-color: var(--prime-text-color);
  color: #fff;
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  text-align: center;
  width: 492px;
  height: 120px;
}
.rank-two {
  font-family: var(--prime-font-family);
  color: var(--prime-text-color);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  margin: 0;
  padding-bottom: 72px;
}
.rank-three {
  font-family: var(--prime-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 auto;
}

/* Button */

.button-order {
  display: block;
  font-family: var(--prime-font-family);
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
  height: 51px;
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*  Contacts */

.contacts-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contacts {
  font-family: var(--prime-font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--prime-text-color);
  text-decoration: none;
  margin-left: 40px;
}
.contacts:hover,
.contacts:focus {
  color: var(--brand-color);
}
.hhide {
  display: none;
}

.advantage {
  display: flex;
  justify-content: center;
}
.advantage li {
  width: 264px;
  margin-left: 24px;
}
.product {
  display: flex;
  padding-top: 0;
  padding-bottom: 120px;
  margin: 0;
}

.link {
  display: block;
  color: var(--prime-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  margin-left: 40px;
}

.paragraph {
  color: var(--prime-text-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.span {
  color: #4d5ae5;
}

.logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: var(--prime-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
}

header .container {
  display: flex;
}
.header-item {
  display: flex;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  align-items: center;
  color: var(--hover-focus-color);
}

.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--hover-focus-color);
}
.nav-links .link:active {
  color: var(--active-color);
}

.nav-links-active:none .button li {
  color: #e7e9fc;
}

.list {
  list-style: none;
}
.hero {
  background-color: var(--prime-text-color);
  text-align: center;
  padding: 192px 0;
}
.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.teammates {
  display: flex;
  margin: 0;
  margin-bottom: 120px;
}
.teammates img {
  padding-bottom: 32px;
}
.teammates .rank-three {
  text-align: center;
  padding-bottom: 8px;
}
.teammates .paragraph {
  text-align: center;
  padding-bottom: 32px;
}
.logo-bottom {
  background-color: var(--prime-text-color);
  color: var(--alter-text-color);
  padding-left: 200px;
  padding-top: 100px;
}
.footer-logo-web {
  width: 44px;
}
.footer {
  background-color: var(--prime-text-color);
  color: var(--alter-text-color);
  font-size: 16px;
  line-height: 1.5;
  height: 310px;
}
.footer-text {
  padding-left: 200px;
  width: 464px;
  height: 72px;
}
/* Portfolio */

.button {
  font-family: var(--prime-font-family);
  background-color: var(--light-mode-bgd);
  color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  height: 48;
  border-radius: 4px;
  border-color: var(--alter-text-color);
  padding: 12px 24px;
  margin-right: 24px;
}
.buttons {
  margin-top: 96px;
  margin-bottom: 72px;
}
.buttons .button:hover,
.buttons .button:focus {
  cursor: pointer;
  background-color: #404bbf;
  color: #ffffff;
}
.buttons-row .buttons {
  display: flex;
  justify-content: center;
}
.project-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 120px;
}
.card-info-border {
  border-left: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
  border-bottom: 0.5px solid #f4f4fd;
}
.project-card .link {
  margin-left: 24px;
  margin-top: 48px;
  flex-basis: calc(100% / 3-24px);
}
.project-card img {
  padding-bottom: 32px;
}
.project-card .rank-three {
  padding-bottom: 8px;
}
.project-card .paragraph {
  padding-bottom: 32px;
}
